$primary-background-color: #dededf;
$shadow-color: #55555588;

$text-color-primary: #333;
$text-color-secondary: white;

$side-bar-background: #3333336e;
$selected-user-color: #555;

$main-container-color: #fff;

$primary-button-color: #007bff;
$button-hover: #0056b3;
