@import "navbar";
@import "colors";

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: $background-color;
  padding-top: 60px;
}

#heading-container {
  padding-top: 2%;
  text-align: center;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $heading-color;
    margin: 10px 0;
  }
}
