@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "colors";

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: $primary-background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  width: 80%;
  max-width: 1200px;
  height: 80vh;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.527);

  .sidebar {
    width: 30%;
    background-color: $side-bar-background;
    color: $text-color-secondary;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      margin-bottom: 20px;
      font-size: 1.5rem;
    }

    #user-list {
      list-style-type: none;
      padding: 0;
      width: 100%;
      li {
        margin: 10px 0;
        cursor: pointer;
        transition: background-color 0.3s ease;
        padding: 5px;
        width: 100%;
        border-radius: 4px;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      li:hover {
        background-color: $selected-user-color;
      }
      li.highlighted {
        background-color: $selected-user-color;
      }

      .weight-buttons {
        display: flex;
        gap: 5px;

        button {
          background-color: transparent;
          border: 1px solid $button-border-color;
          border-radius: 3px;
          padding: 3px 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: $button-hover;
          }

          &.increase {
            color: green;
          }

          &.decrease {
            color: red;
          }
        }
      }
    }
  }
}

.main-section {
  width: 70%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $main-container-color;
  box-shadow: inset 0 0 10px $shadow-color;

  #placeholder {
    font-size: 1.2rem;
    color: $text-color-primary;
    text-align: center;
    margin-bottom: 20px;
    min-height: 50px;
  }

  button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      background-color: $button-hover;
      box-shadow: 0 4px 6px $shadow-color;
    }
  }
}
