@import "colors";

body {
  padding: 0;
  margin: 0;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $text-color-1;
}

h1 {
  font-size: 3.5rem;
}

.choices {
  margin-bottom: 30px;
  button {
    color: $text-color-1;
    padding: 5%;
    font-size: 2.5rem;
    margin: 0 10px;
    min-width: 160px;
    border-radius: 250px;
    background-color: $button-color;
    cursor: pointer;
    transition: background-color 0.5 ease;
    &:hover {
      background-color: $button-hover;
    }
  }
}

.displays {
  font-size: 1.5rem;
  width: 50%;
  #resultsDisplay {
    font-size: 3rem;
    margin: 30px 0;
  }
}

.score-display {
  font-size: 2rem;
}

.result-win-color,
#playerScoreDisplay {
  color: $result-win-color;
}

.result-tie-color,
#tieScoreDisplay {
  color: $result-tie-color;
}

.result-lose-color,
#computerScoreDisplay {
  color: $result-lose-color;
}
